.project-card img{
  width: 100%;
  margin-bottom: 1rem;
}

.project-card{
  padding: 1rem;
  text-align: left;
  background-color: var(--white);
  color: var(--black);
}

.projects .project-card h1{
  padding-top: 0.5rem;
  font-size: clamp(1.15rem, 0.75rem + 1.5vw, 2rem);
  margin-bottom: clamp(0.5rem, 0.25rem + 1vw, 1rem);
}

.badges{
  display: flex;
  flex-wrap: wrap;
  gap: clamp(0.4rem, 0.2rem + 0.5vw, 0.75rem);
}

.description{
  font-family: 'Roboto';
  font-size: clamp(0.95rem, 0.5rem + 1vw, 1.1rem);
  margin-bottom: 2rem;
}

.project-btns{
  display: flex;
  justify-content: end;
  margin-right: clamp(0.5rem, 0.3rem + 1vw, 1rem);
  margin-bottom: clamp(0.5rem, 0.3rem + 1vw, 1rem);
}

.project-btns a{
  font-size: clamp(0.75rem, 0.5rem + 1vw, 1rem);
  font-family: 'Geologica';
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.project-read-more{
  background-color: transparent;
  color: var(--black);
}

.project-check-it{
  background-size: 200% 100%;
  background-image: var(--button-gradient);
  margin-left: clamp(0.5rem, 0.25rem + 1.5vw, 2rem);
  border-radius: 0.35rem;
  color: var(--white);
  transition: all ease-in-out 500ms;
}

.project-check-it:hover{
  background-position: 95% 0;
  -webkit-box-shadow: 0 0 0.5rem 0.5rem var(--vivid-sky-blue);
  -moz-box-shadow: 0 0 0.5rem 0.5rem var(--vivid-sky-blue);
  box-shadow: 0 0 1rem 0.5rem var(--vivid-sky-blue);
}