.contact{
  text-align: center;
  font-family: 'Geologica';
  background-color: var(--dark-blue);
  color: var(--white);
}

.contact-steps{
  width: 100%;
}

.contact-content{
  display: flex;
  justify-content: space-between;
}

.contact-column{
  flex-basis: 40%;
  padding: 0 3rem;
  margin-top: 2rem;
}

.contact-column:nth-child(1){
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 1rem;
}

.contact-column:nth-child(1) h1{
  font-size: clamp(3rem, 2rem + 4vw, 6rem);
  line-height: clamp(4rem, 2.5rem + 2vw, 5rem);
  font-family: 'DM Mono';
}

.contact-links img{
  margin-top: clamp(1rem, 0.5rem + 1.5vw, 2rem);
  margin-right: clamp(1rem, 0.5rem + 1.5vw, 2rem);
  width: 10%;
  opacity: 0.75;
  transition: all 200ms ease-in-out;
}

.contact-links img:hover{
  opacity: 1;
}

.contact-column:nth-child(2) h1{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.contact-column form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.contact-column input,
.contact-column textarea{
  font-size: 1rem;
  font-family: "Geologica";
  padding: 0.5rem 1rem;
  border-bottom: 0.3rem solid #C5BBEC;
  background-color: var(--periwinkle);
  transition: all 200ms ease-in;
  resize: none;
}

.contact-column input{
  margin-bottom: 1rem;
}

.contact-column input:focus,
.contact-column textarea:focus{
  border-bottom: 0.3rem solid var(--sapphire);
}

.contact-column .form-submit{
  margin-top: 2rem;
  border: none;
  cursor: pointer;
}

.contact-column .form-submit:focus{
  border: none;
}

.contact-column .submitted{
  background-color: #108421;
}

.error{
  color: red;
  font-size: 0.75rem;
  font-family: 'Geologica';
  font-weight: 300;
}

@media (max-width: 1024px) {
  .contact-content{
    flex-wrap: wrap;
  }
  
  .contact-column{
    flex-basis: 100%;
  }
  
  .contact-column h1 br{
    display: none;
  }
  
  .contact-column:nth-child(1){
    text-align: center;
  }
}