.eventCard{
  width: 25rem;
  min-height: 35rem;
  border: 0.1rem solid rgba(0,0,0,0.3);
  border-radius: 1rem;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.1);
  box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.1);
  transform: translateY(50%);
  opacity: 0;
  filter: blur(1rem);
  transition: all 200ms ease-in-out;
}

.eventCard--shown{
  transform: translateY(0);
  opacity: 1;
  filter: blur(0);
}

.eventCard:hover{
  transform: translateY(-5%) scale(1.05);
  -webkit-box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.2);
  box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.2);
}

.eventCard-thumbnail{
  height: 40%;
  background-size: cover;
  background-position: center 0;
}

.eventCard-badges{
  margin: 1rem;
  display: flex;
  gap: 0.75rem;
}

.eventCard h3{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 1rem;
  font-family: 'Geologica';
  font-weight: 400;
  font-size: clamp(0.85rem, 0.7rem + 0.5vw, 1rem);
}

.eventCard h3 img{
  width: 5%;
}

.eventCard .eventCard-title{
  background: none;
  margin: 1rem;
  font-size: clamp(1rem, 0.75rem + 0.75vw, 1.2rem);
}

.eventCard p{
  font-family: 'Geologica';
  font-weight: 400;
  font-size: clamp(0.85rem, 0.7rem + 0.5vw, 1rem);
  margin: 1rem;
}