footer{
  background-color: var(--dark-blue);
  color: rgba(250, 250, 250, 0.75);
  text-align: center;
  font-family: "Geologica";
  font-weight: 400;
  letter-spacing: 0.25rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}